.admin_buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 50px 0px 100px 0px;
}
.admin_header span {
    font-size: 35px;
    color: #434B52;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #474B4F;
    box-shadow: 0 5px 10px #111415;
    background-color: #222629;
}
.admin_section_header span {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 20px;
    width: 1080px;
}

.button_tour button,
.button_player button,
.button_club button,
.button_league button {
    background-color: #61892F; /* Green */
    border: none;
    color: white;
    width: 100px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 15px;
}
.button_tour span,
.button_player span,
.button_club span,
.button_league span {
    font-size: 20px;
}
.buttons button:hover {
    background-color: #4D6D26;
    cursor: pointer;
}

/* SECTION 02 */

.admin_section02 {
    display: inline-block;
}
.admin_circle {
    float: left;
    margin: 20px 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #33373B;
    text-align: center;
    position: relative;
    transition: 0.5s;
    box-shadow: 0px 3px 10px #131617;
}
.admin_circle i {
    font-size: 33px;
    margin-top: 32px;
    margin-bottom: 10px;
    text-align: center;
	color: white;
}
.little_circle {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #61892F;
    border-radius: 50%;
    padding-top: 7px;
    box-shadow: 2px 2px 10px 0px #33373B;
}
.admin_circle:hover {
    background-color: #61892F;
    cursor: pointer;
}
.admin_active {
    background-color: #61892F;
}
.details_anchor {
    display: none;
}




/*MOBILE RESPONSIVE*/

@media screen and (max-width: 1000px) {
    .admin_header span {
        font-size: 23px;
        color: #434B52;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid #474B4F;
        box-shadow: 0 5px 10px #111415;
    }


    .admin_buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .buttons {
        margin: 20px 20px;
    }
    .button_tour button,
    .button_player button,
    .button_club button,
    .button_league button {
        width: 100px;
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 4px;
        margin-top: 15px;
    }
    .button_tour span,
    .button_player span,
    .button_club span,
    .button_league span {
        font-size: 15px;
        font-family: 'Exo 2', sans-serif;
    }


    .admin_section02 {
        display: flex;
        justify-content: center;
        flex-direction: row;
	flex-wrap: wrap;
    }
    .admin_circle {
        margin: 40px 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #33373B;
        text-align: center;
        position: relative;
        transition: 0.5s;
        box-shadow: 0px 3px 10px #131617;
    }
    .admin_circle .fa-trophy,
    .admin_circle .fa-shield-alt {
        font-size: 33px;
        margin-top: 22px;
        margin-bottom: 10px;
        text-align: center;
        color: white;
    }
}






