.club_box {
	margin: 0 auto;
	width: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: #33373B;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0px 5px 10px #131617;
	border-top: 3px solid #61892F;
}
.club_img img {
	width: 100px;
	padding: 20px 0;
}
.club_header {
	margin-bottom: 30px;
}
.club_header span {
	font-size: 25px;
	text-transform: uppercase;
}
.club_data_field {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.club_form input {
	padding: 10px;
	margin-bottom: 20px;
	width: 223px;
	border: none;
	background-color: #474B4F;
	color: white;
	font-size: 15px;
	outline-style: none;
	vertical-align: middle;
	border-radius: 4px;
	border-left: 3px solid #61892F;

}
.club_form button {
	margin-top: 20px;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 15px;
	text-align: center;
	width: 223px;
	height: 38px;
	background-color: #61892F;
}
.club_form button:hover {
	background-color: #4F7027;
	cursor: pointer;
}

.club_form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 20px auto 0 auto;
}


/*RESPONSIVE*/


@media screen and (max-width: 700px) {
	.club_box {
		margin: 0 auto;
		width: 100%;
	}
	.club_form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.club_data_field {
		align-items: center;
		margin: 50px 0 0 0;
	}
}




