.container {
    color: #fff;
    text-align: center;
    margin: 0 auto 100px auto;
}
.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1080px;
    margin: 0 auto 100px auto;
}
.section_header {
    width: 1080px;
    margin: 0 auto;
}
.section_header_700 {
    width: 700px;
    margin: 0 auto;
}
.header_sign {
    text-transform: uppercase;
    font-size: 22px;
    text-align: left;
    margin: 20px auto;
    font-weight: bold;
}

.list_container {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border-top: 3px solid #61892F;
	box-shadow: 0px 5px 10px #131617;
}
.list_table {
    width: 1080px;
    margin: 0 auto;
}
.list_table_700 {
    width: 700px;
    margin: 0 auto;
}


@media screen and (max-width:1000px) {
	.container{
		margin-top: 100px !important;
		padding: 0 15px;
    	        overflow: scroll;
		align-items: normal !important;
    		justify-content: normal !important;
	}
	.sub-container{
    	        overflow: scroll;
		align-items: normal !important;
    		justify-content: normal !important;
		width: 100% !important;
		margin: 0 auto;
	}
	.list_container{
	    overflow: scroll;
	}	
	.list_container_700{
	    overflow: scroll;
	}
	.list_container, .list_table, .list_table_700,
	.section_header, .section_header_700{
	    width: 100% !important;
	}
	.list_table {
	    overflow-x: auto;
	}
	.list_table_700 {
	    overflow-x: auto;
	}
}



.list_table thead th,
.list_table_700 thead th {
	background-color: #222629;
    text-transform: uppercase;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #343A3F;
}
.list_table tr:first-child th:last-child, 
.list_table_700 tr:first-child th:last-child{
	border-top-right-radius: 8px;
}
.list_table tr:first-child th:first-child,
.list_table_700 tr:first-child th:first-child{
	border-top-left-radius: 8px;
}

.list_table tbody tr td,
.list_table_700 tbody tr td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-right: 1px solid #71787F;
    height: 50px;
    max-height: 50px;
}
.list_table tr>:last-child,
.list_table_700 tr>:last-child {
    border-right: none;
}

