.reglament_text {
	width: 700px;
	height: auto;
	text-align: right;
	overflow: auto;
	padding: 20px;
	outline: none;
	border-radius: 8px;
	border-top: 3px solid #61892F;
	border-right: none;
	border-bottom: none;
	border-left: none;
	background-color: #3f454c;
	display: block;
    float: left;
    clear: left;
    text-align: left;
}