.reglament_box {
	width: 700px;
	overflow: auto;
}

.reglament_text {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	padding: 20px;
	outline: none;
	border-radius: 8px;
	border-top: 3px solid #61892F;
	border-right: none;
	border-bottom: none;
	border-left: none;
	background-color: #3f454c;
    float: left;
    clear: left;
    text-align: left;
	  white-space: wrap;
}

@media screen and (max-width: 1000px) {
	.reglament_text {
		width: 100%;
  		overflow-x: auto;
	}
	.reglament_box {
	width: 100%;
	}
}