.reglament_text {
	width: 700px;
	height: auto;
	text-align: right;
	overflow-x: auto;
	padding: 20px;
	outline: none;
	border-radius: 8px;
	border-top: 3px solid #61892F;
	background-color: #3f454c;
	display: inline-block;
    float: left;
    clear: left;
    text-align: left;
}
.reglament_text p {
	padding: 0;
	margin: 0;
}