html, body {
	font-family: 'Exo 2', sans-serif;
	background-color: #222629;
	height: 100%;
}
a {
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    color: #fff;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.live-container {
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
}
/***** INFO SECTION *****/

.live-match-lobby {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.live_match_info {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.live-match-lobby-table {
    margin: 0 auto;
    width: 100%;
}
.live_logo_img {
    padding: 10px;
    padding-top: 10px;
    width: 100px;
    height: auto;
    background-color: #222629;
}
.live_logo_text {
    text-transform: uppercase;
    font-size: 25px;
    color: #DEC27A;
    font-family: 'Merriweather', serif;
}
.live-match-lobby-table-num {
    color: white;
    font-size: 40px;
    margin-right: 20px;
}
.live-match-lobby-info {
    padding: 20px;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    border-radius: 8px;
    border-top: 3px solid #61892F;
    text-align: center;
}

/*VERSUS SECTION*/

.live-match-lobby-frame-section tbody {
    display: table-row-group;
}
.live-match-lobby-player-table {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #54782A;
    box-shadow: 0px -5px 40px #151719;
    border-radius: 8px;
    flex: 1;
}
.live-match-lobby-player-table input,
.live-match-lobby-player-table select,
.live-match-lobby-player-table select option {
    color: black;
    width: 100%;
}
.live-match-lobby-player {
    width: 30%;
    padding: 20px;
}
.live-match-lobby-frame-section {
    flex: 1;
}
#middle{
    width: 150px;
}
.b_of{
    padding: 5px;
    font-weight: bold;
}
#bestOF{
	padding: 5px;
	border: none;
	background-color: #474B4F;
	color: white;
	font-size: 15px;
	outline-style: none;
	vertical-align: middle;
	border-radius: 4px;
}

.player_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #474B4F;
  background-image: none;
}
/* Remove IE arrow */
.player_select select::-ms-expand {
  display: none;
}
/* Custom Select */
.player_select {
  position: relative;
  display: flex;
  line-height: 4;
  background: #474B4F;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  border-left: 3px solid #61892F;
  margin: 0;
  padding-left: 3px;
  align-items: center;
}
.player_select select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
}

/* PLAYER HIGHLIGHT */
.highlight {
    box-shadow: 0px 0px 20px #3B531E;
    border-radius: 8px;
    /*border: 1px solid #fff;*/
    background-color: #CC9C29;
}
.live-player-name {
    width: 100%;
    padding: 10px;
    border-left: 3px solid #3B531E;
    border-right: 3px solid #3B531E;
    border-radius: 6px;
    overflow: hidden;
    background-color: #3B531E;
    text-align: center;
    margin: 20px auto 0 auto;
}
.live-match-lobby-player-name {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}
.live-match-lobby-player-img {
    width: 100%;
    height: 420px;
    max-height: 420px;
    object-fit: cover;
    /*border: 8px solid #3B531E;*/
    border-radius: 8px;
}
.live-match-lobby-frame-section tr th {
    font-size: 35px;
    font-weight: 300;
    background-color: #3B531E;
    color: #fff;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}
.live-match-lobby-frame-section tr td {
    font-size: 80px;
    font-weight: 500;
    color: #e5efeb;
    text-align: center;
    vertical-align: middle;
}
.live-match-lobby-frame-section tr:first-child td {
    font-size: 105px !important;
}
.best_of {
    font-size: 80px !important;
}
.live-match-lobby-frame-section {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.live-match-lobby-frame-section table tr.live-match-lobby-frame-details td {
    font-size: 20px;
    background-color: #54782A;
    color: #fff;
    text-align: center;
    border: solid 1px #014027;
    border-bottom: solid 40px #54782A;
    padding: 5px 0;
    vertical-align: middle;
}
.live-match-lobby-frame-table tr td {
	max-width: 180px;
	min-width: 180px;
}
.live-match-lobby-frame-table tr th {
	border-radius: 2px;
	max-width: 180px;
	min-width: 180px;
}
.empty_match_vs {
    color: #486724;
    font-size: 150px;
}
.live-match-lobby-frame-section .finished_match_sign {
    font-size: 35px;
    margin-top: 30px;
    background-color: #222629;
    border-radius: 4px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}
.button_push {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
 }
.button_push span {
    color: #555F68;
    font-size: 35px;
    margin-bottom: 10px;
}

