.match_lobby {
	/*max-width: 700px;*/
	width: 700px;
	border-top: 3px solid #61892F;
	border-radius: 8px;
	overflow: auto;
}
.match_lobby_info {
	padding: 12px;
	margin: 0;
	text-transform: uppercase;
	font-size: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.match_lobby_player-table {
	box-shadow: 0px 5px 10px #131617;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 254px;
    max-height: 254px;
    min-height: 254px;
    padding-top: 10px;
    background-color: #474B4F;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.match_lobby_player,
.match_lobby_player,
.match_lobby_frame-section {
	flex: 1;
}
.match_lobby_player {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.match_lobby_frame-section {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.match_lobby_frame-section tbody {
	display: table-row-group;
}
.match_lobby_player-name {
	color: white;
	font-size: 17px;
}
.match_lobby_player-img {
	width: 120px;
	max-width: 120px;
	height: auto;
	max-height: 170px;
	border-radius: 4px;
}
.match_lobby_frame-section tr th {
	font-size: 17px;
	font-weight: 300;
	background-color: #222629;
	color: #6B6E70;
	text-align: center;
	padding: 0px 20px;
	vertical-align: middle;
	text-transform: uppercase;
}
.match_lobby_frame-section tr td {
	font-size: 40px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	max-width: 80px;
	min-width: 80px;
}
.match_lobby_frame-section table tr.match_lobby_frame-details td {
	font-size: 12px;
	background-color: #474B4F;
	color: #fff;
	text-align: center;
	border: solid 1px #222629;
	border-bottom: solid 5px #474B4F;
	padding: 3px 0;
	vertical-align: middle;
	border-top: solid 1px #222629;
}


/*MOBILE RESPNSIVE (VS)*/

@media screen and (max-width: 600px) {
 
.match_lobby_player-img {
    width: 70px;
    max-width: 70px;
    height: 90px;
    max-height: 90px;
    object-fit: cover;
    margin-top: 10px;
}
.match_lobby_frame-section {
	margin-top: 45px;
}
.match_lobby_frame-section tr th {
    font-size: 14px;
    padding: 10px;
}
.match_lobby_frame-section tr td {
    font-size: 20px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
}
.match_lobby_player-name {
	font-size: 15px;
    height: 30px;
     max-height: 30px;
    min-height: 30px;
}
.match_lobby_player-table {
    height: 180px;
    max-height: 180px;
    min-height: 180px;
	width: 100%;
}
}






/*********** TABLE ***********/

.match_lobby_table {
	width: 700px;
	/*max-width: 700px;*/
}
.match_lobby_table tbody {
	box-shadow: 0px 5px 10px #131617;
}
table.match_lobby_table .col-1 {
	width: 21%;
}
table.match_lobby_table .col-2 {
	width: 24%;
}
table.match_lobby_table .col-3 {
	width: 10%;
}
table.match_lobby_table .col-4 {
	width: 24%;
}
table.match_lobby_table .col-5 {
	width: 21%;
}
.match_lobby_table thead th {
	text-transform: uppercase;
	padding: 15px 0;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #343A3F;
}
.match_lobby_table thead tr>:last-child,
.match_lobby_table tbody tr>:nth-child(2),
.match_lobby_table tbody tr>:nth-child(3),
.match_lobby_table tbody tr>:nth-child(5){
    border-right: none;
}
.match_lobby_table tbody tr td {
    font-size: 17px;
	padding: 20px;
	border-right: 1px solid #71787F;
}
.match_lobby_table tbody tr>:nth-child(2),
.match_lobby_table tbody tr>:nth-child(3),
.match_lobby_table tbody tr>:nth-child(4) {
    font-weight: bold;
    font-size: 19px;
}



/*MOBILE RESPNSIVE TABLE*/
.res {
	display: none;
}

@media screen and (max-width: 600px) {
	section  {
		width: 100%;
    	overflow: hidden;
    	padding: 0 10px;
	}
	.match_lobby {
		overflow: hidden;
		width: 100%;
	}
	.match_lobby_framesBreaksPoits_table,
	.match_lobby_table {
		width: 100%;
    	overflow: hidden;
	}
	.match_lobby_info {
		width: 100%;
		overflow: hidden;
	}
	.match_lobby_table thead th {
	padding: 10px 0px;
	font-size: 13px;
}
	.match_lobby_table .match_lobby_table_tbody tr td {
	padding: 10px;
}
.match_lobby_table_tbody_odd td,
.match_lobby_table_tbody_even td{
	font-size: 14px;
}
.match_lobby_table_tbody tr>:nth-child(2),
.match_lobby_table_tbody tr>:nth-child(4) {
	font-size: 16px;
}
.res {
	display: block;
}
.non_res {
	display: none;
}
}





