table.results_table .col-1 {
 	width: 1%;
}
table.results_table .col-2 {
 	width: 40%;
}
table.results_table .col-3 {
 	width: 20%;
}
table.results_table .col-4 {
 	width: 20%;
}
table.results_table .col-5 {
 	width: 19%;
}
.results_table tbody tr>:nth-child(1) {
	border-right: none;
}
