
table.breaks_table .col-1 {
 	width: 32%;
}
table.breaks_table .col-2 {
 	width: 5%;
}
table.breaks_table .col-3 {
 	width: 32%;
}
table.breaks_table .col-4 {
 	width: 31%;
}

.breaks_table tbody tr>:nth-child(1),
.breaks_table tbody tr>:nth-child(2) {
	border-right: none;
}

